#postbox-container-1 #custom-sidebar-select, #postbox-container-1 #custom-sidebar-text { width: auto; max-width: 70%; }
#postbox-container-2 #custom-sidebar-select, #postbox-container-2 #custom-sidebar-text { width: auto; max-width: 85%; }
#custom-sidebar-select, #custom-sidebar-text { display: inline-block; margin-bottom: 7px; padding: 3px 3px 4px; }
#custom-sidebar-error, #custom-sidebar-message { margin: 7px 0 7px; padding: 0 .6em; border-radius: 3px; border-width: 1px; border-style: solid; }
#custom-sidebar-message { background-color: #FFFFE0; border-color: #E6DB55; }
#custom-sidebar-error { background-color: #FFEBE8; border-color: #C00; }
#custom-sidebar-error p, #custom-sidebar-message p { color: #333; margin: .5em 0; padding: 2px; }
#custom-sidebar-add, #custom-sidebar-cancel { display: inline-block; }